---
layout: default
---

{% include menu.html %}

{% include big-logo.html %}

<div class="content">

<!-- hero image -->

    <h3>Silverscreen is an original table-top role playing game, based on the fundementals of cinimatic storytelling. 
    <br>
    <br>
    Read <a href="{{ site.baseurl }}/Playbook/">The Playbook</a> for more information and for rules on how to play. Once you are all setup, print off the <a href="{{ site.baseurl }}/Character-Sheets/">character sheets</a> and extend the game further with <a href="{{ site.baseurl }}/Genres/">Genre Moduals</a>.</h3>
</div>