---
layout: default
title: Playbook
permalink: /Playbook/
---

{% include menu.html %}

<div class="title">
    <h1><span class="chapter">
        The
    </span><br>
        Playbook
    </h1>
    <div class="content">
        <h3>The following Playbook contains all the information required to play Silverscreen, as well as explanations about the decisions made.</h3>
    </div>
</div>

<div class="page-navigation">
    {% for post in site.posts reversed %}
    {% if post.chapter != post.previous.chapter %}
    <h3 class="chapter" style="text-align:left;">Chapter {{ post.chapter }}</h3>
    {% endif %}
    <div class="page-navigation" style="margin-bottom:0;">
        <a class="prev" href="{{ post.url }}" style="margin:0;"><span class="chapter">{{ post.section }}.</span> {{ post.title }}</a>
    </div>
    {% endfor %}
</div>

