<script>
    function menu()
    {
        var menu = document.getElementById("menu");
        var button = document.getElementById("menu-button");
        
        if(button.innerHTML == "CLOSE")
        {
            button.innerHTML = "MENU";
            menu.style.width = "10px";
        }
        else
        {
            button.innerHTML = "CLOSE";
            menu.style.width = "400px";
        }
    }
</script>
<div id="menu">
    <button id="menu-button" onclick="menu()">MENU</button>
    <div class="inner-menu">
        <h1 style="margin-left: 30px;color: black;">film rpg</h1>
        <ul>
            <li><a href="./">HOME</a></li>
            <li><a>CHARACTER SHEETS</a></li>
            <li><a>GENRE MODUALS</a></li>
            <li><a>CHAPTERS</a></li>
            {{ page.url }}
            <ul>
            {% for post in site.posts %}
                <li><a {% if page.url == post.url %} id="current-page" {% endif %} href="{{ site.baseurl }}{{ post.url }}">{{ post.chapter }}. {{ post.title }}</a></li>
            {% endfor %}
            </ul>
        </ul>
    </div>
</div>