<!DOCTYPE html>
<html>
    <head>
        {% include meta.html %}
        <title>{{ page.error }} - {{ page.message }}</title>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    </head>
    <body>
        {% include menu.html %}
        <div class="title">
            <h1><span class="chapter">
                ERROR {{ page.error }}
            </span><span style="display: none;"> - </span><br>
                {{ page.message }}
            </h1>
            <div class="page-navigation">
                <a class="prev" style="float:none;max-width: max-content;margin: 0 auto;" href="{{ site.baseurl }}">Return home</a>
            </div>
        </div>
    </body>
</html>
